.help-content-body {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: 42px;
    align-items: flex-start;
    flex-direction: column;
}

.help-content-body table {
    width: 100%;
    border-collapse: collapse;
}

.help-content-body th, .help-content-body td {
    border: 1px solid var(--dl-color-gray-black);
    padding: 8px;
}

.help-content-body th {
    background-color: #f2f2f2;
}

.help-content-body p {
    margin-bottom: 0.7em;
    line-height: 1.8;
}

.help-content-body h1, .help-content-body h2, .help-content-body h3, .help-content-body h4, .help-content-body h5, .help-content-body h6 {
    margin-bottom: 1em;
}

.help-content-body a u {
    text-decoration: none;
}

.help-content-body a {
    transition: 0.3s;
    border-color: #030001;
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.help-content-body a:hover {
    border-color: #030001;
    padding-right: 24px;
    border-bottom-width: 2px;
}

@media(max-width: 767px) {
    .help-content-body {
        padding: 22px;
        padding-bottom: 50px;
    }
}

@media(max-width: 480px) {
    .help-content-body {
        padding: 16px;
        padding-bottom: 50px;
    }
}